@import url(./__column/cards__column.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);
@import url(./__text/cards__text.css);

.cards {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}