.header__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 35px;
  color: #1f2431;
}

.header__info:hover {
  opacity: 0.5;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .header__info {
    margin: 0;  
  }
}

