@import url(./__block/header__block.css);
@import url(./__info/header__info.css);
@import url(./__infos/header__infos.css);
@import url(./__logo/header__logo.css);

.header {
  max-width: 1140px;

  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}









