.footer__button {
    background: #315EFB;
    border: 1px solid #315EFB;
    box-sizing: border-box;
    width: 106px;
    height: 39px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    left: 220px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: none;
}

.footer__button:hover {
    cursor: pointer;
    width: 110px;
    height: 42px;
    top: 6px;
    left: 215px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}