.intro {
  max-width: 1140px;

  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
}
.intro__column {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.intro__title {
  margin: 0;
  width: 384px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;

  color: #1f2431;
}

.intro__subtitle {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 25px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  width: 251px;

  color: #82899b;
}

.intro__link {
  background: #315efb;
  border: 0;
  border-radius: 51px;
  width: 215px;
  height: 40px;

  color: #ffffff;
}

.intro__wallet {
  font-size: 12px;
  line-height: 17px;

  text-align: center;

  text-transform: uppercase;
}
